$size__site-main: 100%;
$size__site-sidebar: 25%;

/*--------------------------------------------------------------
# Media Queries
--------------------------------------------------------------*/

$brkpoint-sm: 1px;
$brkpoint-md: 764px;
$brkpoint-lg: 1100px;