input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: $color__text-input;
	border: 1px solid $color__border-input;
	border-radius: 4px;
	padding: 3px;
    width: 100%;
    margin-bottom: 1rem;

	&:focus {
		color: $color__text-input-focus;
	}
}

select {
	border: 1px solid $color__border-input;
    width: 100%;
}

textarea {
	max-width: 100%;
    resize: vertical;
    height: 150px;
}

input[type="submit"] {
    display: block;
    margin: 0 auto;
    color: #fff;
    font-size: 1rem;
    background-color: #999;
    border-radius: 0.6rem;
    box-shadow: none;
    padding: 0.7rem 2rem;
    &:hover {
		border-color: $color__border-button-hover;
		box-shadow: none;
        background-color: #555;
	}    
}

.entry-content {
    form {
        padding: 2.5rem 5rem 1.75rem;
        max-width: 700px;
        background-color: $color__background-form;
        border-radius: 1rem;
        border: 1px solid #ccc;
        -webkit-box-shadow: 5px 5px 9px 0px rgba(185,188,199,1);
        -moz-box-shadow: 5px 5px 9px 0px rgba(185,188,199,1);
        box-shadow: 5px 5px 9px 0px rgba(185,188,199,1);
        margin: 1.9rem auto;
        h1,h2,h3,h4,h5,h6 {
            margin-top: 0;
            text-align: center;
            padding-bottom: 0.5em;
            margin-bottom: 1em;
            border-bottom: 1px solid #777;
        }
    }
}
