$color__background-body: #e3e3e4;
$color__background-header: #f2f2f3;
$color__nav-wrapper-background: #fefefe;
$color__sec-nav-wrapper-background: #252525;
$color__entry-title-background: #eee;
$color__background-sidebar: #f3f3f3;
$color__background-lead: #eee;
$color__background-form: #f2f2f4;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__footer-background: #303035;
$color__background-mobilemenu: #303035;
$color__background-mobilesubmenu: #23282d;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__text-main: #404040;
$color__text-lead: #222;

$color__link: #999;
$color__link-mainmenu: #444;
$color__link-mobilemenu: #c2c2c3;
$color__link-mainmenu__hover:  #888;
$color__link-tiles: gray;
$color__link-visited:  #999;
$color__link-hover:  #666;


$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
$color__footer-text: #fafafa;

$color__table-row-even: #eeeef5;

$cobalt: #5348d4;
$turquoise: #00abd1;
$violet: #0047AB;
$indigo: #4400cf;