    .wp-caption {
    margin-bottom: 1.5em;
    max-width: 100%;
    img[class*="wp-image-"] {
        @include center-block;
    }
    .wp-caption-text {
        margin: 0.8075em 0;
    }
}

.wp-caption-text {
    text-align: center;
}

// automatyczna konwersja obrazów do skali szarości w postach i na stronach

.post-excerpt,
.article {
    img {
        @include filter(grayscale(100%));
        @include transition(all 0.6s ease-in-out);
    }
}

.post-excerpt:hover {
    img {
        @include filter(grayscale(20%));
    }
}

.article img:hover {
    @include filter(grayscale(20%));
}